<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Article</title>
</head>

<body>
    <div class="header-container">
        <div class="header">
            <h2>
                Edit article
            </h2>
        </div>
    </div>
    <div class="main">
        <form action="/articles/edit/" method="POST">
            <input name="id" type="hidden" value="<%= article._id %>">
            <input type="text" name="title" placeholder="Title" value="<%= article.title %>">
            <input type="text" name="author" placeholder="Author" value="<%= article.author %>">
            <textarea name="content" id="" cols="30" rows="10" placeholder="Content"><%= article.content %></textarea>
            <button class="submit">Submit</button>
        </form>
    </div>

</body>

</html>